* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: black;
}

#canvas1 {
    border:2px solid White;
    position:absolute;
    top:0;
    left:0;
    transform: translete(-50%,-50%);
    width:660px;
    height:900px;
}